@{
    ViewData["Title"] = "Principal";
}
<h1>Bienvenidos a Cine+</h1>
    <h3>Tu lugar de entretenimiento...</h3>
    <div>
        <div class="Contenedor1">
     <img id="Img1" src="Img/Avatar.jpg" 
         alt="Avatar II"/>
        <figcaption>
            <h4>Nombre de pelicula</h4>
            <p>Sinopsis: De que trata la pelicula</p>
            <p>Director:Steve Job XD</p>
            <p>Genero: Fantasia</p>
            <p>Calificacion:10/10</p>
        </figcaption>
            </div>
        <div class="Contenedor1">
<img id="Img2" src="Img/avispa.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
        <div class="Contenedor1">
<img id="Img3" src="Img/bholaa.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img4" src="Img/enders.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img5" src="Img/furiosa.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img6" src="Img/gatsuer.png" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img7" src="Img/halloween.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img8" src="Img/jumanji.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img9" src="Img/septi.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img10" src="Img/thor.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img11" src="Img/venom.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img12" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img13" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img14" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img15" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img16" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img17" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img18" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img19" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img20" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
           <div class="Contenedor1">
<img id="Img21" src="Img/Avatar.jpg" 
    alt="Avatar II"/>
   <figcaption>
       <h4>Nombre de pelicula</h4>
       <p>Sinopsis: De que trata la pelicula</p>
       <p>Director:Steve Job XD</p>
       <p>Genero: Fantasia</p>
       <p>Calificacion:10/10</p>
   </figcaption>
       </div>
        </div>
